@import"https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap";
@import"https://fonts.googleapis.com/icon?family=Material+Icons";

* {
    box-sizing: border-box;
}

header {
    min-height: 50px;
}

footer {
    min-height: 50px;
}

main {
    flex: 1;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: greenyellow;
}


